<section id="join" class="well {{hideOrShow}}">
  <form id="JoinForm" class="form-inline text-right" {{action "joinChat"}}>
      <fieldset>
        {{input type='text' value=name key-press="checkForNull" placeholder='Your name' autocomplete='off' class='form-control' required=true autofocus='true'}}
        <button id="sendJoin" class="btn btn-success" disabled={{enableOrNot}}>Join</button>
      </fieldset>
  </form>
</section>
